<div class="row">
  <div class="col s12 m9">
    <div class="card horizontal grey lighten-5 large z-depth-2 hoverable">
      <div class="card-panel transparent z-depth-0" style="padding: 0px;">
        <a class="waves-effect waves-teal btn-flat"><i class="material-icons">exposure_plus_1</i></a>
        <a class="waves-effect waves-teal btn-flat">51</a>
        <a class="waves-effect waves-teal btn-flat"><i class="material-icons">exposure_neg_1</i></a>
      </div>
        <div class="card-content" style="padding: 0px">
          <div style="padding: 10px" class="hide-on-small-only">
            Ingenieria Publicacion por Emanuel - Hace 10 horas
          </div>
          <div style="padding: 10px" class="hide-on-med-and-up">
            Ingenieria - Hace 10 horas
          </div>
          <span class="card-title"> This is a text </span><span class=""></span>
          <p class="flow-text hide-on-small-only" style="padding-left: 5px;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus itaque maxime tempore. Assumenda, at, consectetur consequatur debitis dicta eum expedita harum minima numquam quia quis quod, repellendus sint tenetur totam.
          </p>
          <p class="truncate hide-on-med-and-up">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus itaque maxime tempore. Assumenda, at, consectetur consequatur debitis dicta eum expedita harum minima numquam quia quis quod, repellendus sint tenetur totam.
          </p>
          <div class="card-action">

            <!-- buttons on wide screen-->
            <a class="waves-effect waves-yellow btn-flat tooltipped small hide-on-small-only cyan-text text-darken-2" data-tooltip="8 Comentarios" data-position="top" ><i class="material-icons left">chat</i>8</a>
            <a class="waves-effect waves-yellow btn-flat tooltipped small hide-on-small-only cyan-text text-darken-2" data-tooltip="Guardar" data-position="top"><i class="material-icons left">add_circle</i></a>
            <a class="waves-effect waves-yellow dropdown-trigger btn-flat tooltipped small hide-on-small-only cyan-text text-darken-2" data-tooltip="Compartir" data-position="top" data-target="dropdownshare"><i class="material-icons left">share</i></a>


            <!-- buttons on small screen-->
            <a class="waves-effect waves-yellow btn-flat  small hide-on-med-and-up" ><i class="material-icons left">chat</i>8 comentarios</a>
            <a class="waves-effect waves-yellow btn-flat small hide-on-med-and-up" ><i class="material-icons left">add_circle</i>guardar</a>
            <a class="waves-effect waves-yellow dropdown-trigger btn-flat small hide-on-med-and-up" data-target="dropdownshare"><i class="material-icons left">share</i>compartir</a>

            <ul id="dropdownshare" class="dropdown-content">
              <li><a href="" class="teal-text text-darken-2">Facebook</a></li>
              <li><a href="" class="teal-text text-darken-2">Copiar Link</a></li>
              <li><a href="" class="teal-text text-darken-2">Twitter</a></li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
