.card, .card-panel {
    background-color: #303030;
    color: white; 
}

.card {
    border-radius: .6em;
}

.card-panel div {
    font-size: 1em;
    margin-bottom: 0;
}

.vote-buttons {
    text-align: center;
    width: 10%;
}
.vote-buttons > div {
} 