<div class="row">
  <div class="col s12 m9">
    <div class="card horizontal medium grey lighten-5 large z-depth-2 hoverable">


      <!-- vote panel horizontal and transparent-->
      <div class="card-panel transparent z-depth-0" style="padding-left: 15px; padding-right: 0px; padding-top: 0px;">
        <div class="row">
          <a class="waves-effect waves-teal btn-flat"><i class="material-icons">exposure_plus_1</i></a>
        </div>
        <div class="row">
          <a class="btn-flat">{{ post.default.votes }}</a>
        </div>
        <div class="row">
          <a class="waves-effect waves-teal btn-flat"><i class="material-icons">exposure_neg_1</i></a>
        </div>
      </div>


      <!-- card content without margin on the card-->
      <div class="card-content" style="padding-top: 0px">

          <!-- info tab on wide screen-->
          <div style="padding: 10px" class="hide-on-small-only">
            {{ post.default.category }} Publicacion por {{ post.default.owner_name }} - Hace 10 horas
          </div>

          <!-- info on small screen -->
          <div style="padding: 10px" class="hide-on-med-and-up">
            {{ post.default.category }} - Hace 10 horas
          </div>

          <span class="card-title"> {{ post.default.title }} </span><span class=""></span>

          <!-- text on wide screen -->
          <p class="flow-text hide-on-small-only" style="padding-left: 5px;">
            {{ post.default.text }}
          </p>

          <!-- text on small screen-->
          <p class="truncate hide-on-med-and-up" style="padding-left: 5px;">
            {{ post.default.text }}
          </p>
          <div class="card-action">

            <!-- buttons on wide screen-->
            <a class="waves-effect waves-yellow btn-flat tooltipped small hide-on-small-only cyan-text text-darken-2" data-tooltip="post.default.comments+' Comentarios'" data-position="top" ><i class="material-icons left">chat</i>8</a>
            <a class="waves-effect waves-yellow btn-flat tooltipped small hide-on-small-only cyan-text text-darken-2" data-tooltip="Guardar" data-position="top"><i class="material-icons left">add_circle</i></a>
            <a class="waves-effect waves-yellow dropdown-trigger btn-flat tooltipped small hide-on-small-only cyan-text text-darken-2" data-tooltip="Compartir" data-position="top" data-target="dropdownshare"><i class="material-icons left">share</i></a>


            <!-- buttons on small screen-->
            <a class="waves-effect waves-yellow btn-flat  small hide-on-med-and-up" ><i class="material-icons left">chat</i>{{ post.default.comments }} comentarios</a>
            <a class="waves-effect waves-yellow btn-flat small hide-on-med-and-up" ><i class="material-icons left">add_circle</i>guardar</a>
            <a class="waves-effect waves-yellow dropdown-trigger btn-flat small hide-on-med-and-up" data-target="dropdownshare"><i class="material-icons left">share</i>compartir</a>

            <ul id="dropdownshare" class="dropdown-content">
              <li><a href="" class="teal-text text-darken-2">Facebook</a></li>
              <li><a href="" class="teal-text text-darken-2">Copiar Link</a></li>
              <li><a href="" class="teal-text text-darken-2">Twitter</a></li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
