<ul id="dropdown1" class="dropdown-content cyan darken-2">
  <li><a href="#!" class="white-text">ICCO</a></li>
  <li class="divider"></li>
  <li><a href="#!" class="white-text">NANO</a></li>
  <li class="divider"></li>
  <li><a href="#!" class="white-text">ENERGIA</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content cyan darken-2">
  <li><a href="#!" class="white-text">SALUD PUBLICA</a></li>
  <li class="divider"></li>
  <li><a href="#!" class="white-text">CIRUJANOS</a></li>
  <li class="divider"></li>
  <li><a href="#!" class="white-text">NUTRICION</a></li>
</ul>
<ul id="dropdown3" class="dropdown-content cyan darken-2">
  <li><a href="#!" class="white-text">CONTABILIDAD</a></li>
  <li class="divider"></li>
  <li><a href="#!" class="white-text">DERECHO</a></li>
  <li class="divider"></li>
  <li><a href="#!" class="white-text">ADMINISTRACION</a></li>
</ul>
<nav>
  <div class="nav-wrapper teal darken-1">
  <a href="#!" class="brand-logo left"><img class="responsive-img" src="assets/img/CUT_SinFondo.png" width="70px" height="70px"></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">General</a></li>
      <!-- Dropdown Trigger -->
      <li *ngFor="let departamento of dep; let i = index;"><a class="dropdown-trigger" href="#!" data-target="dropdown1">{{ departamento }}<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

